.admin {
    box-sizing: border-box;
    padding: 20px;
}

.adminRight {
    width: 100%;
    background-color: white;
    text-align: left;
    font-size: 16px;
    box-sizing: border-box;
    display: inline-block;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(65, 105, 225, 0.15);
}

.adminList {
    display: inline-block;
    width: 100%;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}