.row {
    text-align: left;
    width: 100%;
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    border-left: 4px solid transparent;
    transition: color 0.5s, border-left 0.25s, background-color 0.5s;
}

.row:hover {
    background-color: white;
    border-left: 4px solid white;
    cursor: pointer;
}

