.result {
    /* background-color: rgba(0, 0, 00, 0.1); */
    margin: 15px 0 15px 0;
    text-align: left;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: 0 0px 15px rgba(65, 105, 225, 0.2);
}

.field {
    /* background-color: rgba(0,0,0,0.1); */
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0 5px 0;
}

.multi {
    font-size: 13px;
    padding: 5px 0 5px 0;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.2); */
    display: flex;
}

.type {
    width: 100%;
    font-weight: bold;
    /* background-color: rgba(0, 0, 0, 0.1); */
    margin: auto;
}

.multi2 {
    display: flex;
    width: 100%;
    font-size: 13px;
}

.name {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 7px 5px 7px;
    border: 1px solid royalblue;
    font-weight: bolder;
    border-radius: 15px;
    /* background-color: rgba(0, 0, 0, 0.1); */
}

.address {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 7px 5px 7px;
    margin-left: 15px;
    border-radius: 15px;
    border: 1px solid royalblue;
    font-weight: bolder;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

.experience {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    margin-left: 15px;
    border-radius: 100%;
    border: 1px solid rgb(0, 146, 110);
    background-color: rgb(0, 146, 110);
    color: white;
    cursor: default;
}


.deadline {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.salary {
    width: 100%;
    text-align: right;
}

.description {
    font-size: 13px;
    padding: 10px 0 10px 0;
    text-align: justify;
}

.salBisc {
    background-color: royalblue;
    font-size: 12px;
    color: white;
    display: inline-block;
    padding: 5px 7px 5px 7px;
    border-radius: 15px;
}

.more {
    background-color: royalblue;
    color: white;
    display: inline-block;
    font-size: 12px;
    font-weight: 100;
    padding: 1px 5px;
    border: none;
    border-radius: 10px;
}

.more:hover {
    cursor: pointer;
}